/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_globle.css);


/* start navigation */

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 1rem 0 3rem;

}
.header_area .main-menu .navbar{
    padding:1rem 5rem;

}
.header_area .main-menu .nav-item .nav-link{
    font:normal 500 14px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

/* end navigation */

/*srt banner area */
.site-main .site-banner{
    background: url(../img/banner/1x/Asset\ 3.png) no-repeat 0% 50%;

}
.site-main .site-banner .site-title h3{
    padding-top: 5%;
    font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
content: "";
height: 2px;
width: 18vw;
background: #013845;
display: inline-block;
margin-left: 5%;
transform: translateY(-10px);

}
.site-main .site-banner .site-title h1{
    font-size: 4rem;
}
.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image>img{
    padding: 2rem 0;
    widows: 50rem;;

}
.c-buttons{
    margin-top: 1rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
}
.c-buttons button{
    margin-top: 2rem;
}

/*end banner area */

/* start about area */

.site-main .about-area{
    padding: 8rem 5rem;
}
.site-main .about-area .about-title h2>span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;

}
.site-main .about-area .about-title .paragraph>p{
    padding: .4rem
}

/* start about area */

/* start brand area */

.site-main .brand-area .brand-title h2>span{
    display:inline-flex; 
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 1px;
    justify-content: center;

}
.site-main .brand-area{
    padding: 1rem 10rem;
    margin-bottom: 4rem;

}
.site-main .brand-area .row .col-lg-6{
    display: flex;
    justify-content: center;

}
.site-main .brand-area .row .col-lg-6>.single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: .8rem 0rem;
    margin: .5rem 0;
    width: 100px;
    cursor: pointer;
    transition: transform .4s ease ;

}
.site-main .brand-area .row .col-lg-6>.single-brand>img{
    width: 160%;
    transition: transform .4s ease ;
    
}
.site-main .brand-area .row .col-lg-6>.single-brand img:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.2);
    
}
.site-main .brand-area .row .col-lg-6>.single-brand:hove>img{
    filter: brightness(0.6);

}

/* end brand area */

/* start courses area */
.site-main .courses-area{
    padding: 7rem 2rem;

}
.site-main .courses-area img{
    width: 100%;
}
.site-main .courses-area .courses-title{
    padding: 0rem 14rem;
}
.site-main .courses-area .courses-title h1{
    font-size: 35px;
}
.site-main> .courses-area .courses{
    background:rgba(134, 248, 201, 0.267);
    padding: 2rem 0rem;
    width: 16rem;
    margin: 5rem 0.5rem;
    transition: box-shadow .8s ease;
}
.site-main> .courses-area .courses:hover{
    box-shadow: var(--box-shadow);

}


/* end courses area */

/* gallary area */
.site-main .gallary-area img{
    width: 100%;
}
.site-main .gallary-area{
    padding: 4rem 0rem;
}
.site-main .gallary-area .button-group button{
    background:transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;

}
.site-main .gallary-area .button-group button + button{
    padding-left: 3rem;

}
.site-main .gallary-area .grid .our-gallary>.title h4{
    font: normal 700 25px/12px var(--roboto);
}

.site-main .gallary-area .grid .our-gallary .img a:hover img{
    filter:brightness(1.1) drop-shadow(1px 8px 30px  #b1afaf);

}


/* end gallary area */

/* ttnal-area  */

.site-main .ttnal-area .ttnal-title p{
    padding: 1rem 7rem;

}
.site-main .ttnal-area .student{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;

}
.site-main .ttnal-area .student-img{
    padding: 2rem;

}
.site-main .ttnal-area .student .ttnal-student{
    padding-top: 2rem;
}
.site-main .ttnal-area .student .ttnal-student h4{
    font: normal 500 21px/20px var(--roboto);

}

.site-main .ttnal-area .student .ttnal-student p{
    font-size: 14px;
}
.site-main .ttnal-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0rem 1.5rem;
}
.site-main .ttnal-area .owl-carousel .owl-dots .owl-dot .active{
    background: var(--primary-color);
    width: 12px;
    height: 12px;

}

/* end ttnal-area  */

/* subscribe */
.site-main .subscribe-us-area .subscribe{
    background: #131212;
    padding: 10rem 0;
    margin: 2rem auto;

}
.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/30px var(--roboto);
    color: white;

}
.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: white;
    padding: 1rem 4rem;
}
.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: black;
    font: normal 500 17px/20px var(--roboto);
}
.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;

}
.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: black;
    padding: 0.7rem 2rem;

}
/* end subscribe */

/* footer area */

footer.footer-area{
    background: #f8d30410;
    padding: 3rem 0rem ;
    
    
}


footer.footer-area .social h5{
    font: normal 500 23px/30px var(--roboto);

}

footer.footer-area .social a>i{
    font-size: 22px;
    padding: 1rem;
    color: var(--border-color);

}
footer.footer-area .social a:hover>i{
    color: var(--primary-color);
    

}

/* end footer area */